<h3>Habilidades y Competencias</h3>
<a href="../assets/images/Magdyel Aguilar - Pandas.png" target="_blank">
    <img class="circular--square" src="../assets/images/Magdyel Aguilar - Pandas.png" width="200" height="110">
</a>
<a href="../assets/images/Magdyel Aguilar - Python.png" target="_blank">
    <img class="circular--square" src="../assets/images/Magdyel Aguilar - Python.png" width="200" height="110">
</a>
<ul *ngFor="let sk of skill">
    <li>
     <tr>
     <td>{{sk.element}}</td>  
     
 </tr>
 <hr width=50%  align="right"  size=20 color="#FF0000">
    
